.navbar {
  background: rgb(53, 117, 189);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  height: 50px;
  position: relative;
  color: white;
}

.nav_heading {
  color: white;
}

.back {
  width: 50px;
}
